/* .navbar {
    display: flex;
    justify-content: space-between;
    background-color: #4CAF50;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
} */
 .navbar {
    width: 98%;
    background-color: #3c5e3d; 
    padding: 10px;
    color: white;
    text-align: center;
    position: fixed; /* Sticks the navbar to the top */
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #45a049;
} */ */
/* Navbar.css */

.navbar {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    background-color: #4CAF50; 
    padding: 10px 20px; 
}

.navbar ul {
    list-style-type: none;     
    margin: 0; 
    padding: 0; 
    display: flex; 
}

.navbar li {
    margin: 0 15px; 
}

.navbar a {
    text-decoration: none; 
    color: white;
    font-weight: bold; 
    transition: color 0.3s; 
}

.navbar a:hover {
    color: #d4d4d4; 
}
